.my-icon {
    width: 50px;
}

.my-paragraph {
  font-size: 17px;
  text-align: justify;
}

.my-tool {
    margin-bottom: -10px;
}

.my-subtitle {
    font-size: 19px;
}

.columns {
    -moz-column-count: 2;
    -moz-column-gap: 100px;
    -webkit-column-count: 2;
    -webkit-column-gap: 100px;
    column-count: 2;
    column-gap: 100px;
    -moz-column-rule: 0px;
    -webkit-column-rule: 0px;
    column-rule: 0px;
    padding:0 5px;
}

.columns ul{margin:0;padding:0 0 0 2em;list-style:disc;}
@media screen and (max-width:760px){
    .columns {
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-count:1;
        -webkit-column-gap:0;
        column-count: 1;
        column-gap: 0px;
    }
}


.columns-3 {
    -moz-column-count: 3;
    -moz-column-gap: 50px;
    -webkit-column-count: 3;
    -webkit-column-gap: 50px;
    column-count: 3;
    column-gap: 50px;
    -moz-column-rule: 0px;
    -webkit-column-rule: 0px;
    column-rule: 0px;
    padding:0 5px;
}

.columns-3 ul{margin:0;padding:0 0 0 2em;list-style:disc;}
@media screen and (max-width:760px){
    .columns-3 {
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-count:1;
        -webkit-column-gap:0;
        column-count: 1;
        column-gap: 0px;
    }
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.mybtn-group{
    text-align: left;
    margin-bottom: 7px;
    padding: 10px 30px 10px 30px;
}

.puzzle-btns { width: 100% }


 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



div.paper {
  background-color: rgb(243, 240, 240);
  padding: 10px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  margin-bottom: 4px;
  margin-top: 0.2em;
  transition: all 1s;
  box-shadow: 0 3px 2px rgba(52, 52, 52, 0.08);
  width: 100%;
}

div.paper:hover {
  box-shadow: 0 4px 3px rgba(32, 32, 32, 0.08);
  border-color: rgb(166, 166, 166);
  background-color: #fff;
}

div.paper p {
  /* font-size: smaller; */
  color: #000;
  margin: 3px;
}

div.paper p.conference {
  color: rgb(116, 114, 114);
}

div.paper h3.title {
  color: #4076B3;
  font-style: normal;
  font-weight: normal; 
  font-size:24px;
}

div.paper span.conftype {
  color: #fff;
  background-color: #34A5DA;
  border-radius: 5px;
  /* border: 1px solid #94D9F6; */
  border: 3px solid #34A5DA;
  font-style: italic;
  opacity: 0.6;
  font-size: smaller;
}

div.paper h3.title2 {
  color: #4C8945;
  font-style: normal;
  font-weight: normal; 
  font-size:24px;
}

div.paper span.conftype2 {
  color: #fff;
  background-color: #8ABE5E;
  border-radius: 5px;
  /* border: 1px solid #94D9F6; */
  border: 3px solid #8ABE5E;
  font-style: italic;
  opacity: 0.6;
  font-size: smaller;
}

div.files {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

div.files a, button {
  transition: all 0.2s;
  border: 1px;
  border-radius: 5px;
  padding: 4px;
  margin-right: 5px;
  background: #bec3c7;
  color: #f0f6fb;
  font-size: smaller;
}

div.files a:hover, button:hover {
  background: #95bcda;
  box-shadow: 0 2px 1px rgba(52, 52, 52, 0.08);
}


/* for the bibtex "copied" button */
.visuallyhidden{position:absolute;clip:rect(1px,1px,1px,1px)}
.copybutton{
  background-color:#fff;
  border:0;
  outline:0;
  cursor:pointer;
  opacity:1;
  position:absolute;
  width:40px;
  height:40px;
  z-index:9;
  border-radius:24px
}
.button-tooltip-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
    min-height: 30px;
}

#custom-tooltip {
    display: none;
    margin-left: 5px;
    /* padding: 5px 12px; */
    /* background-color: #000000df; */
    border-radius: 4px;
    color: #32547a;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}


/* embedding video responsively */
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }